{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

{{!-- <div class="card">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Image cap">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p></p>
        <a class="btn btn-"></a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="card text-bg-">
    <div class="card-header text-"></div>
    <div class="card-body text-">
        <h6 class="card-title"></h6>
        <div></div>
    </div>
    <div class="card-footer text-"></div>
</div> 

<div class="row g-">
    <div class="col-"></div>

</div>


--}}



<main>
    {{#with navigation}}
    
    <div class="card">
        
        <div class="nav">
            {{#each links}}
                <div class="nav-item">
                    <a href="{{href}}" class="nav-link ps-3">{{text}}</a>
                    
                </div>
            {{/each}}
            <div class="nav-item ">
                <a href="#" class="nav-link ps-3 disabled">Disabled</a>
            </div>
        </div>
        
       
    </div>
    
    {{/with}}
    
    <br>
    <br>


    {{#with newsBlock}}
    <h2 class="text-center">{{title}}</h2>
    
        <div class="row g-3">
            {{#each cards}}
            <div class="col-3">
                    <div class="card text-bg-secondary" >
                        <div class="card-header">{{title}} 
                            {{#if isTop includeisTop=true  }}
                            <span class="badge text-bg-success rounded-pill">Top</span>
                            {{/if}}
                            {{#if isNew includeisNew=true}}
                            <span class="badge text-bg-success rounded-pill">New</span>
                            {{/if}}
                            {{#unless isTop}}
                                <span class="badge text-bg-danger rounded-pill">Top</span>
                            {{/unless}}
                            {{#unless isNew}}
                                <span class="badge text-bg-danger rounded-pill">New</span>
                            {{/unless}}
                        </div>
                        <div class="card-body">
                            <div>{{description}}</div>
                        </div>
                        
                    </div>
                
            </div>
            {{/each}}
        </div>
        
    {{/with}}
    
    <br>
    <hr>
    <br>

    {{#with goodsBlock}}
    
    <div class="row g-4">
        
        <div class="col-12">
            
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    {{#if isActive includeisActive=true}}
                    <a href="#" class="nav-link text-dark">{{text}}</a>
                    {{else}}
                    {{#if isDisabled includeisDisabled=true}}
                    <a href="#" class="nav-link disabled">{{text}}</a>
                    {{else}}
                    <a href="#" class="nav-link">{{text}}</a>
                    {{/if}}
                    {{/if}}
                    
                </div>
                {{/each}}
            </div>

        </div>
    </div>
        
       
    <br>
    
    <div class="row g-3">
        {{#each cards}}
        <div class="col-4">
            <div class="card text-bg-secondary">
                              
                <img class="card-img-top" src="{{image}}">
                <div class="card-body">
                    <h6 class="card-title">{{title}}
                        {{#if isHot includeisHot=true}}
                        <span class="badge text-bg-warning rounded-pill">hot</span>
                        {{else}}
                        {{#if isNew includeisNew=true}}
                        <span class="badge text-bg-info rounded-pill">new</span>
                        {{else}}
                        <span></span>
                        {{/if}}
                        {{/if}}
                    </h6>
                    <div>{{description}}</div>
                </div>
                
            </div>
        </div>
        {{/each}}
    </div>
    
        
    {{/with}}           
        
    <br>
    <hr>
    <br>           

    {{#with subscribe}}
    <div class="row g-3">
        <div class="col-12">
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h2 class="card-title">{{header}}</h2>
                    <div>{{description}}</div>
                    {{#each buttons}}
                            <div class="flex-column pt-2">
                                <div class="nav-item">
                                    <a type="button" href="{{link}}" class="btn btn-primary ">{{text}}</a>
                                </div>
                            </div>  
                        
                    {{/each}}
                </div>
            </div> 
        </div>
    </div>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with service}}
    <div class="row g-3">
        <div class="col-12">
            <div class="card text-bg-success">
                <div class="card-body text-center">
                    <h2 class="card-title ">{{title}}</h2>
                    <div>{{description}}</div>
                    {{#each buttons}}
                            <div class="flex-column pt-2">
                                <div class="nav-item">
                                    <a type="button" href="{{link}}" class="btn btn-primary ">{{text}}</a>
                                </div>
                            </div>   
                    {{/each}}
                </div>
            </div> 
        </div>
    </div>
    {{/with}}

    <br>
    <hr>
    <br>

    <div class="row ge-2">
    {{#each footer}}
        <div class="col-2">
            {{#each this}}
                <div class="nav flex-column pt-2">
                    
                    <div class="nav-item">
                        <a href="{{link}}" class="nav-link">{{text}}</a>
                    </div>
                    
                </div>
            
            {{/each}}
        </div>
    {{/each}}
    </div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
